.ties__navbar {
    margin: 0 auto;
    display: table;
}

.tie__block {
    padding: 5px 15px;
    display: inline-block;
}

.tie__block:hover {
    opacity: 0.7;
}

.tie__icon {
    width: 15px;
}

/*price benefit*/
.price__benefit {
    margin: 20px auto;
    max-width: 350px;
}

.price__benefit-single {
    display: flex;
    margin-bottom: 20px;
}

.price__benefit-single__icon {
    box-sizing: border-box;
    width: 25%;
    padding: 5px;
    float: left
}

.price__benefit-single__text-block {
    
}

.price__benefit-single__title {
    padding: 0 0 5px 0;
    border-bottom: solid 1px darkgrey;
}

.price__benefit-single__text {
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding: 5px 0 0 0;
}

.price__benefit-single__text span {
    vertical-align: middle;
}

.price__benefit-single__img {
    width: 50px;
}

.price__benefit:after {
    content: "";
    display: table;
    clear: both;
}