.ties__navbar {
    margin: 0 auto;
    display: table;
}

.tie__block {
    padding: 5px 15px;
    display: inline-block;
}

.tie__block:hover {
    opacity: 0.7;
}

.tie__icon {
    width: 15px;
}

/*price benefit*/
.price__benefit {
    margin: 20px auto;
    max-width: 350px;
}

.price__benefit-single {
    display: flex;
}

.price__benefit-single__icon {
    box-sizing: border-box;
    width: 25%;
    padding: 5px;
    float: left
}

.price__benefit-single__text {
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding: 20px 0
}

.price__benefit-single__text span {
    vertical-align: middle;
}

.price__benefit-single__img {
    width: 50px;
}